auth:
  auth-memory:
    users:
      foo:
        name: test
        password: test
store:
  memory:
    limit: 1000
## we don't need any remote request
uplinks:
packages:
  '@*/*':
    access: $all
    publish: $all
  '**':
    access: $all
    publish: $all
middlewares:
  audit:
    enabled: true
log:
 - {type: stdout, format: pretty, level: trace}