[package]
name = "fta"
version = "1.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Fast TypeScript Analyzer"
homepage = "https://ftaproject.dev"
documentation = "https://github.com/sgb-io/fta"
repository = "https://github.com/sgb-io/fta"
readme = "../../README.md"

[dependencies]
clap = { version = "4.2.7", features = ["derive"] }
comfy-table = { version = "7.0.0", optional = true }
env_logger = "0.9"
globset = "0.4"
ignore = "0.4"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
swc_common = "0.31.12"
swc_ecma_ast = "0.106.0"
swc_ecma_parser = "0.142.1"
swc_ecma_visit = "0.92.0"
tempfile = "3.2.0"

[features]
default = ["use_output"]
use_output = ["comfy-table"]